.events, .ranking {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.event {
    padding-bottom: 1rem
}

.score {
    font-size: 1.2rem;
}

.winner {
    color: #0d47a1;
}

.team-titles {
    line-height: 2.0rem;
}

.team-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.team-members {
    line-height: 1rem;
}

.team-member {
    font-size: 0.7rem;
    font-weight: 400;
}

.ranking-member {
    padding: 0;
    line-height: 1.2rem;
}

.ranking-member-name, .ranking-member-performance, .ranking-member-score {
    padding: 0;
    font-size: 0.8rem;
    font-weight: 400;
}
